@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calgary Script";
  src: url("/fonts/calgary_script.otf") format("opentype");
}

@font-face {
  font-family: "Kimchi Style";
  src: url("/fonts/Kimchi Style.otf") format("opentype");
}

.calgary {
  font-family: "Calgary Script", cursive;
}

.kimchi {
  font-family: "Kimchi Style", serif;
}
